body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* change this */
img {
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
    object-fit: cover;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 65%;
}

#top {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}


/* NAVIGATION */
nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 80px;

}

.logo {
    flex-grow: 2;
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
}
a {
    text-decoration: none;
    color: #e5e7eb;
}

/* NAVIGATION */

/* First section content */
.top-content {
    display: flex;
    margin-bottom: 80px;
}

.top-content div
{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 250px;
    justify-content: center;
}
.hero {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 0;
    flex-grow: 1;
}

.sub-hero
{
    font-size: 18px;
    color: #e5e7eb;
    margin:0;
    flex-grow: 1;
}

.top-button
{
    background-color: #3882F6;
    color: white;
    border: #3882F6;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    font-weight: bold;
    flex-grow: 1;
}

/* First section content */

/* Second section content */

#mid
{
    display: flex;
    justify-content: center;
}

#mid div
{
    text-align: center;
}

.mid-content
{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.info
{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.mid-content div img
{
    border: 2px solid #3882F6;
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.mid-content div p
{
    width: 200px;
    margin: 5px auto;
}


#mid .content-container
{
    margin-bottom: 80px;
}
/* Second section content */

/* Third section content */


#mid-quote
{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
}

#mid-quote .content-container
{
    margin-top: 80px;
    margin-bottom:80px;
}
.quote
{
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
}

.name
{
    align-self: flex-end;
    font-weight: bold;
}



/* Third section content */


/* Fourth section content */


.action-container
{
    background-color: #3882F6;
    border-radius: 10px;
    display: flex;
    margin: 80px 0px 80px 0px;
    padding: 30px 50px 30px 50px;
    width: 65%;
    justify-content: space-around;
}

#action
{
    display: flex;
    justify-content: center;
}

.left h5
{
    font-size: 18px;
    color: #f9faf8;
    margin-bottom: 0;
}

.left p
{
    font-size: 16px;
    color: #e5e7eb;
    margin-top: 0;
}

.action-container button
{
    background-color: #3882F6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    width: 100px;
    padding: 5px;
    border-radius: 10px;
    align-self: center;
}

/* Fourth section content */


/* Footer */

footer
{
    height: 80px;
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p
{
    color: #f9faf8;
}



/* Footer */